/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>

#define BROWSE  0
#define GAME     1
#define SKTUP    2
#define OBS   3
#define NUM     4
#define UTIL    5

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
// --------------------------
// | COPY   |   UP   |  PASTE |
// | LEFT   |  DOWN  |  RIGHT |
// | WSL    |  PGUP  |  WSR   |
// | MUTE   |  PGDN  |  ENT/UT|
// --------------------------
            bindings = <
    &kp COPY   &kp UARW &kp PSTE
    &kp LARW   &kp DARW &kp RARW 
    &kp LG(LC(LEFT))   &kp PGUP &kp LG(LC(RIGHT)) 
    &cp M_MUTE &kp PGDN &lt UTIL RET 
            >;

            sensor-bindings = <&inc_dec_cp M_VOLU M_VOLD>;
        };
         game_layer {
// --------------------------
// | 1   |  2   |  3 |
// | 4   |  5   |  6 |
// | 7   |  8   |  9 |
// | GUI |  GRV |  _ |
// --------------------------
             bindings = <
     &kp NUM_1 &kp NUM_2 &kp NUM_3
     &kp NUM_4 &kp NUM_5 &kp NUM_6
     &kp NUM_7 &kp NUM_8 &kp NUM_9
     &kp LGUI  &kp GRAV  &lt UTIL RET
             >;

            sensor-bindings = <&inc_dec_cp M_VOLU M_VOLD>;
         };
         sketchup_layer {
// --------------------------
// | SPACE |  M   |  P    |
// | T     |  Z   |  Q    |
// | R     |  B   |  UNDO |
// | ESC   |  NUM |  _    |
// --------------------------
             bindings = <
     &kp SPC &kp M   &kp P
     &kp T   &kp Z   &kp Q
     &kp R   &kp B   &kp UNDO
     &kp ESC &mo NUM &lt UTIL RET
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
         obs_layer {
// --------------------------
// | BROWSE |  GAME |  SKTUP |
// | GAME   |  OBS  |  NUM   |
// | BT_1   |  BT_2 |  _     |
// | BTCLR  |  _    |  _     |
// --------------------------
             bindings = <
     &kp NUM_1 &kp NUM_2 &kp NUM_3
     &kp NUM_4 &kp NUM_5 &kp NUM_6
     &kp NUM_7 &kp NUM_8 &kp NUM_9
     &kp TAB   &kp NUM_0   &lt UTIL RET
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
         num_layer {
// --------------------------
// | 1   |  2   |  3 |
// | 4   |  5   |  6 |
// | 7   |  8   |  9 |
// | TAB |  0   |  _ |
// --------------------------
             bindings = <
     &kp N1 &kp N2 &kp N3
     &kp N4 &kp N5 &kp N6
     &kp N7 &kp N8 &kp N9
     &kp TAB   &kp N0   &lt UTIL RET
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
         util_layer {
// --------------------------
// | BROWSE |  GAME |  SKTUP |
// | OBS    |  NUM  |  _     |
// | BT_1   |  BT_2 |  EPTOG |
// | BTCLR  |  _    |  _     |
// --------------------------
             bindings = <
     &to BROWSE  &to GAME    &to SKTUP 
     &to OBS     &to NUM     &trans
     &bt BT_SEL 0 &bt BT_SEL 1 &ext_power EP_OFF
     &bt BT_CLR   &trans       &lt UTIL RET
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
    };
};
